---
Language: Cpp
# Use LLVM as base and override specific options
BasedOnStyle: LLVM
# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Always
# Column limit (Doom often used wider lines)
ColumnLimit: 200
# Braces
BreakBeforeBraces: Allman
# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
# Spacing
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
# Pointer alignment
PointerAlignment: Right
# Function declarations
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
# Control structures
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
# Comments
ReflowComments: false
# Preprocessor
IndentPPDirectives: None
# Include sorting
SortIncludes: false
# Other
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2